
@import url('../../common.less');

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/login_bg.jpg);
    background-size: cover;

    .login-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 500px;
        margin-top: -250px;
        margin-left: -250px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 5px;

        .logo {
            display: block;
            width: 80px;
            height: 80px;
            margin: 15% auto;
            background-image: url(../../assets/images/logo.png);
            background-size: cover;
        }

        .input-wrapper {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            padding: 0 20%;
            justify-content: center;
            align-items: center;

            .user-input, .verifycode-input {
                width: 100%;
                height: 45px;
                font-size: @base-font-bigSize;
                color: #333333;
                border-radius: 3px;
                background: rgba(255, 255, 255, 0.8);
            }
            
            .verify-button {
                width: 160px;
                height: 45px;
                border-radius: 3px;
                margin-left: 30px;
                color: @base-color-blue;
                font-size: @base-font-size;
                border-color: @base-color-blue;
                background: rgba(0, 0, 0, 0);
            }
            
            .submit-area {
                display: flex;
                justify-content: center;
                margin: auto;
                width: 100%;
                .login-button {
                    height: 50px;
                    background: @base-color-blue;
                    font-size: @base-font-bigSize;
                    color: @base-color-white;
                    border-radius: 3px;
                    flex: 7;
                    border: 0;
                }
            }
        }
    }

}